<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1058907067199-l1vf6ojaqlplcgjtcr0buqkvln1gvv9u.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1058907067199-l1vf6ojaqlplcgjtcr0buqkvln1gvv9u</string>
	<key>API_KEY</key>
	<string>AIzaSyBHrZ26WRywyRPbkRtW8CIVSMlNElBCW8I</string>
	<key>GCM_SENDER_ID</key>
	<string>1058907067199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chat-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-chat-fc7fb</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chat-fc7fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1058907067199:ios:e30bdf979716c5d8e1f98a</string>
</dict>
</plist>